<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link src="/Static/css/StyleConsultarUsuarios.css">
    <link rel="stylesheet" href="/Static/css/StyleConsultarUsuarios.css">
    <script src="/Static/js/appconsultarusuarios.js"></script>
    <title>Consultar Usuarios</title>
</head>
<body>
    <div class="box1"> <img style="width: 200px; margin-left: 0; margin-top: 10px;" src="/Static/images/VITALPET.svg"> </div>
    <h1>Consultar Usuarios</h1>
<div> 
    <br> <br>
    <label> Id </label> <input type="number"> <br> <br>
    <textarea> </textarea> <br> <br>
    <Button onclick="consult_user()"> Consultar </Button> <br> <br>
</div>
    <div>
        <a href="/Templates/Home.html"> Volver </a>
        <br> <br>
    </body>
    </div>
</html>