<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link src="/Static/css/StyleConsultarUsuarios.css">
    <link rel="stylesheet" href="/static/css/StyleConsultarCitas.css">
    <script src="/Static/js/appconsultarcitamedica.js"></script>
    <title>Mis Citas</title>
</head>
<body>
    <div class="box1"> <img style="width: 200px; margin-left: 0; margin-top: 10px;" src="/Static/images/VITALPET.svg"> </div>
    <h1>Mis Citas</h1>
<div> 
    <br> <br>
    <label> Id </label> <input type="number"> <br> <br>
    <textarea> </textarea> <br> <br>
    <Button onclick="consult_cita()"> Consultar </Button> <br> <br>
    </div>
    <div>
        <a href="/Templates/Home.html"> Volver </a>
        <br> <br>
    </body>
    </div>
</html>