<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link src="/Static/css/StyleHome.css">
    <link rel="stylesheet" href="/Static/css/StyleHome.css">
    <script src="/Static/js/Apphome.js"></script>
    <title>Home</title>
</head>
<body>
    <div style="background-color: #0A161F;"> <img style="width: 200px; margin-left: 20px; margin-top: 10px;" src="/Static/images/VITALPET.svg"> </div>
    <img style width="1886" src="/Static/images/Banner Home.jpg">
    <h1>
        ¡Cuida a tu mejor amigo!
    </h1>
    <p>
        Bienvenido a nuestra plataforma para el cuidado de tus mascotas. Aquí podrás agendar citas médicas, 
        llevar un registro completo de la salud de tu amigo peludo y mucho más. 
        <b>¡Comienza ahora y asegúrate de que tu mascota siempre esté en las mejores manos!</b> 
    </p>

    <ol>
        <li> <a href="/Templates/RegistrarUsuarios.html">Registrar Usuario</a> </li>
        <li> <a href="/Templates/RegistrarCitaMédica.html">Solicitar una Cita</a> </li>
        <li> <a href="/Templates/ConsultarUsuarios.html">Consultar Usuario</a> </li>
        <li> <a href="/Templates/ConsultarCitaMédica.html">Mis Citas</a> </li>
    </ol>
</body>
</html>